<div class="card mb-4">
    <div class="card-header">
        <h5>
            <%= user.full_name %>
        </h5>
    </div>
    <div class="card-body">
        <p>
            <%= user.email %>
        </p>
    </div>
    <div class="card-footer">
        <a href="/delete/<%= user.id %>" class="btn btn-danger">Delete</a>
        <% if (user.active) { %>
            <a href="/change/<%= user.id %>/0" class="btn btn-primary">Active</a>
        <% } else { %>
            <a href="/change/<%= user.id %>/1" class="btn btn-warning">Inactive</a>
        <% } %>
    </div>
</div>